<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Encuestas
    </ion-title>
  </ion-toolbar>

  <ion-segment [(ngModel)]="segmentModel" color="tertiary">
    <ion-segment-button value="administrador">
      <ion-label>Administrador</ion-label>
    </ion-segment-button>
    <ion-segment-button value="cliente">
      <ion-label>Cliente</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content class="ion-padding">

  <div id="divcard" *ngIf="segmentModel === 'administrador'">
    <ion-card id="cardAdmin">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Inicio de sesión</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        
        <form #form="ngForm" (ngSubmit)="login(form)" method="post">

          <ion-item style="margin-bottom: 2em;">
            <ion-label position="floating">Usuario</ion-label>
            <ion-input ngModel type="email" name="email"></ion-input>
          </ion-item>
        
          <ion-item style="margin-bottom: 5em;">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input ngModel type="password" name="password"></ion-input>
          </ion-item>
      
          <ion-button type="submit" expand="block" color="tertiary">Ingresar</ion-button>

        </form>

      </ion-card-content>
    </ion-card>
  </div>

  <div id="divcard" *ngIf="segmentModel === 'cliente'">
    <ion-card id="cardAdmin">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Ingresar</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        
        <form #form="ngForm" (ngSubmit)="login(form)" method="post">

          <ion-item style="margin-bottom: 5em; margin-top: 5em;">
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input ngModel type="email" name="email"></ion-input>
          </ion-item>
      
          <ion-button type="submit" expand="block" color="tertiary">Aceptar</ion-button>

        </form>

      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>
